@import '../../variables';

.pagination {
  display: flex;
  justify-content: center;
  gap: min(2dvw, 10px);

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__button {
    width: min(50px, 10dvw);
    padding: min(0.5rem, 1dvw);

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &.active {
      opacity: 1;
      font-weight: bold;
      box-shadow: 0 0 5px 1px white;
      cursor: default;
      transform: scale(1.1);
    }
  }
}

@media (max-width: 800px) {
  .pagination__delimiter {
    display: none;
  }
}
