.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;

  &__button {
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__page-button {
    width: 50px;
    padding: 0;

    &.active {
      font-weight: bold;
      box-shadow: 0 0 5px 1px white;
    }
  }
}
