@import '../../variables';

.main-page {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: $light-secondary-background;
  overflow: hidden;

  &.dark {
    background-color: $dark-secondary-background;
  }
}

@media (max-width: 800px) {
  .main-page {
    flex-direction: column-reverse;
    overflow: visible;
  }
}
