.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 40%;
  padding: 0 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;

  .close-button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: transparent;
  }

  &__image {
    width: 100%;
    max-width: 350px;
    border-radius: 1rem;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    &-block {
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      border: 1px white solid;
    }
  }

  &__title,
  &__info-block-title,
  &__info-block-text {
    margin: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: darkgray;
    border-radius: 1rem;
    padding: 3px 10px;
  }
}

.empty-detail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
