@import '../../variables';

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 40%;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  box-shadow: 0 0 10px 5px $gray-dark;
  border-radius: 1rem;
  background-color: $dark-secondary-background;

  .close-button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: transparent !important;
  }

  &__image {
    width: 100%;
    max-width: 350px;
    border-radius: 1rem;
    box-shadow: 0 0 10px 5px $light-accent;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    &-block {
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      border: 2px $light-accent solid;
      background-color: $dark-background;
      color: $dark-text-primary;
    }
  }

  &__title,
  &__info-block-title,
  &__info-block-text {
    margin: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $dark-background;
    color: $dark-text-primary;
    border-radius: 1rem;
    padding: 3px 10px;
  }

  &.dark {
    background-color: $light-secondary-background;
    box-shadow: 0 0 10px 5px $gray-light;

    .detail__title {
      background-color: $light-background;
      color: $light-text-primary;
    }

    .detail__info-block {
      background-color: $light-background;
      color: $light-text-primary;
      border-color: $dark-accent;
    }

    .detail__image {
      box-shadow: 0 0 10px 5px $dark-accent;
    }
  }
}
