.search {
  display: flex;
  gap: 0.5rem;
  flex: 1;
  position: relative;

  &__input {
    flex: 1;
    margin-right: 85px;
    max-width: calc(100dvw - 250px);
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
