// Light Theme
$light-background: #f0f8ff;
$light-secondary-background: #a4b3c6;
$light-primary: #66ff66;
$light-secondary: #ffcc00;
$light-accent: #4040b3;
$light-text-primary: #000000;
$light-text-secondary: #4b4b4b;

// Dark Theme
$dark-background: #1c1c1c;
$dark-secondary-background: #333333;
$dark-primary: #4c9f4c;
$dark-secondary: #b28f00;
$dark-accent: #646cff;
$dark-text-primary: #ffffff;
$dark-text-secondary: #b0b0b0;

// General Colors
$white: #ffffff;
$black: #000000;
$gray-light: #d3d3d3;
$gray-dark: #4b4b4b;
